<div class="header-mypage">

</div>

<% if current_user.id == @user.id %>
      <%= link_to edit_user_registration_path do %>
        <div class="usericon-parent">
          <%= image_tag @user.image_url, class: "usericon" if @user.image? %>
        </div>
      <% end %>
<% else %>
      <div class="usericon-parent">
          <%= image_tag @user.image_url, class: "usericon" if @user.image? %>
      </div>
<% end %>


<div class="profile-text">
    <span style="font-size:1.5em;">
      <p><%= @user.name %></p>
    </span>
    <p><%= @user.profile %></p>

</div>

<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">自分の投稿一覧</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">いいねした投稿一覧</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
        <% @user.nayamis.each do |t| %>
         <%= t.user.name %><br>
         <span style="font-size:1.5em;">
          <%= t.body %><br>
         </span><br>
        <% end %>
      </p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
        <% @user.liked_nayamis.each do |t| %>
          <%= t.user.name %><br>
          <span style="font-size:1.5em;">
            <%= t.body %><br>
          </span><br>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="MypageToToppage">
  <%= link_to nayamis_path  do %>
    <%= image_tag 'Key.png', class:'icon02' %>
    <span class="icon_top_guide">お悩み広場に戻る</span>
  <% end %>
</div>

<div class="MypageToNew">
  <%= link_to new_nayami_path do %>
    <%= image_tag 'Pen.png', class:'icon03' %>
    <span class="icon_new_guide">投稿する</span>
  <% end %>
</div>