<h1>nayamiのindex</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_nayami_path %>
<div class="nayamis-container">
    <% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>

    <% @nayamis.each do |t| %>
        <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
        <div class="nayami">
            <%= link_to t.user.name, user_path(t.user.id) %>
            <%= t.user.email %>

            <%= image_tag t.image_url, size: "250x200" if t.image? %>

            <%= t.body %>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= button_to nayami_like_path(id: t.id, nayami_id: t.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= button_to nayami_likes_path(id: t.id, nayami_id: t.id), method: :post do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
            <%= t.user_id %>
            <%= link_to "詳細へ", nayami_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
                <%= button_to "削除する", nayami_path(t.id), method: :delete %>
            <% end %>
        </div>

    <% end %>

    <%= form_tag({controller:"nayamis",action:"index"}, method: :get) do %>
        <% Tag.all.each do |t| %>
            <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
        <% end %>
        <%= submit_tag '検索' %>
    <% end %>
    <%= form_tag({controller:"nayamis",action:"index"}, method: :get) do %>
        <%= text_field_tag :tag %>
        <%= submit_tag 'タグを追加' %>
    <% end %>
</div>